<h2 class="font-medium">Incoming Friend Requests</h2>
<ul>
    {% for request in incoming_requests %}
        <li>
            From: {{ request.creator.username }}
            <form method="post" action="{% url 'accept_friend_request' request.creator.username %}">
                {% csrf_token %}
                <button type="submit" class="relative">
                    <span class="absolute top-0 left-0 mt-1 ml-1 h-full w-full rounded bg-black"></span>
                    <span class="fold-bold relative inline-block h-full w-full rounded border-2 border-black bg-white px-3 py-1 text-base font-bold text-black transition duration-100 hover:bg-indigo-500 hover:text-white">Accept</span>
                </button>
            </form>
        </li>
    {% empty %}
        <li>No incoming friend requests</li>
    {% endfor %}
</ul>