{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load account %}
{% load form_tags %}
{% block content %}
    <script src="{% static 'js/home.js' %}" defer></script>
    <main>
        {% if user.is_authenticated %}
            <section class="flex flex-col items-center">
                <header class="w-[24rem] flex flex-col gap-1 py-2 px-1">
                    <form id="thought-form" class="flex flex-col gap-2" hx-post="{% url 'index' %}" hx-trigger="submit"
                          hx-target="#recent-thoughts"
                          hx-swap="innerHTML" method="post" hx-on::after-request="this.reset()">
                        {% csrf_token %}
                        {% for field in thought_form %}
                            <div class="mb-4">
                            {{ field.label_tag }}
                            {{ field|add_class:"bg-white resize-none appearance-none outline-none placeholder:text-black py-3 px-4 block w-full border-gray-200 text-sm text-black focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none" }}
                            </div>
                        {% endfor %}
                        <button class="relative w-24 text-start place-self-end"
                                type="submit"><span
                                class="absolute top-0 left-0 mt-1 ml-1 h-full w-full rounded bg-black"></span>
                            <span class="fold-bold relative inline-block h-full w-full rounded border-2 border-black bg-white px-3 py-1 text-base font-bold text-black transition duration-100 hover:bg-indigo-500 hover:text-white">Post it!</span>
                        </button>
                        <audio id="submitSound" preload="auto" src="{% static 'sfx/publish.ogg' %}"></audio>
                    </form>
                </header>
            </section>
            <section class="w-full grid grid-cols-2 items-start justify-between">
            <section class="flex flex-col items-center">
                <header>
                    <h1 class="font-medium">Friends' thoughts</h1>
                </header>
                <section class="flex flex-col gap-2 items-center" id="friends-thoughts"
                         hx-get="{% url 'friends_thoughts' %}"
                         hx-trigger="load">
                    {% include "partials/friends_thoughts.html" %}
                </section>
            </section>
            <section class="flex flex-col items-center">
                <header><h1 class="font-medium">All public thoughts</h1></header>
                <section class="flex flex-col gap-2" id="all-thoughts" hx-get="{% url 'all_thoughts' %}"
                         hx-trigger="load">
                    {% include "partials/all_thoughts.html" %}
                </section>
            </section>
        {% else %}
            <section class="flex flex-col items-center">
                <header>
                    <h1 class="font-medium">All public thoughts</h1>
                </header>
                <section class="flex flex-col gap-2" id="all-thoughts" hx-get="{% url 'all_thoughts' %}"
                         hx-trigger="load">
                    {% include "partials/all_thoughts.html" %}
                </section>
            </section>
        {% endif %}
        </section>
    </main>
{% endblock %}
{% block left_side %}
    <section>
        <form class="flex flex-col gap-1" action="{% url 'search' %}" method="get">
            <label for="q" class="font-medium">Search for thoughts</label>
            <input label="search"
                   class="bg-white resize-none appearance-none outline-none placeholder:text-black py-3 px-4 block w-full border-gray-200 text-sm text-black focus:border-indigo-500 focus:ring-indigo-500 disabled:opacity-50 disabled:pointer-events-none"
                   type="text" name="q" placeholder="Search for thoughts">
            <button class="relative w-24 place-self-end" type="submit">
            <span
                    class="absolute top-0 left-0 mt-1 ml-1 h-full w-full rounded bg-black"></span>
                <span class="fold-bold relative inline-block h-full w-full rounded border-2 border-black bg-white px-3 py-1 text-base font-bold text-black transition duration-100 hover:bg-indigo-500 hover:text-white">Search</span>
            </button>
        </form>
    </section>
    <section>
    <p>Logged in as <span class="font-medium">{% user_display user %}</span></p>
    </section>
    <div hx-get="{% url 'site_stats' %}" hx-trigger="load, every 5m"></div>
{% endblock %}
{% block right_side %}
    <h1 class="font-medium">Top public hashtags</h1>
    <section class="flex flex-col gap-2" id="top-hashtags" hx-get="{% url 'top_hashtags' %}"
             hx-trigger="load, every 5s">
        {% include "partials/top_hashtags.html" %}
    </section>
    <h1 class="font-medium">Recent public thoughts</h1>
    <section class="flex flex-col gap-2" id="recent-thoughts" hx-get="{% url 'recent_thoughts' %}"
             hx-trigger="load, every 5s">
        {% include "partials/recent_thoughts.html" %}
    </section>
{% endblock %}