{% extends "base.html" %}
{% block content %}
    <style>
        {{ profile_user.userprofile.custom_css }}
    </style>
    {% include "components/navbar.html" %}
    <main id="profile">
        <h1>{{ profile_user.username }}'s Profile</h1>
        <div id="about">
            {% if profile_user.userprofile.about_html %}
                {{ profile_user.userprofile.about_html | safe }}
            {% else %}
                <p>No about information.</p>
            {% endif %}
        </div>
        <section id="profile">
            <h2>Profile</h2>
            <p>Joined: {{ profile_user.date_joined }}</p>
            <p>Email: {{ profile_user.email }}</p>
            <p>Location: {{ profile_user.userprofile.location }}</p>
            <p>Birthdate: {{ profile_user.userprofile.birthdate }}</p>
            <a href="{{ profile_user.userprofile.website }}">Website: {{ profile_user.userprofile.website }}</a>
            <a href="{{ profile_user.userprofile.github }}">GitHub: {{ profile_user.userprofile.github }}</a>
            {% if user.is_authenticated and can_add_friend %}
                <a href="{% url 'send_friend_request' profile_user.username %}">Add friend</a> {% endif %}
        </section>
        <h2>Thoughts</h2>
        {% for thought in thoughts %}
            {% include 'components/thought.html' with thought=thought %}
        {% empty %}
            <p>No thoughts yet.</p>
        {% endfor %}
        {% if profile_user == request.user %}
            <section hx-get="{% url 'incoming_friend_requests' profile_user.username %}" hx-trigger="load, every 15s"
                     hx-target="#incoming-friend-requests" hx-swap="outerHTML">
                <div id="incoming-friend-requests">
                    {% include 'partials/incoming_friend_requests.html' %}
                </div>
            </section>
        {% endif %}
        <section id="friends" hx-get="{% url 'friend_list' profile_user.username %}" hx-trigger="load, every 15s"
                 hx-target="#friends-list">
            <h2>Friends</h2>
            <div id="friends-list"></div>
        </section>
    </main>
{% endblock %}