{% extends "base.html" %}
{% block content %}
    <style>
        {{ profile_user.userprofile.custom_css }}
    </style>
    <main id="profile-page">
        <div id="about">
            {% if profile_user.userprofile.about_html %}
                {{ profile_user.userprofile.about_html | safe }}
            {% else %}
                <p>No about information.</p>
            {% endif %}
        </div>
        <section class="flex flex-col w-full items-center gap-2">
            <h2 class="font-medium">Thoughts</h2>
            {% for thought in thoughts %}
                {% include 'components/thought.html' with thought=thought %}
            {% empty %}
                <p>No thoughts yet.</p>
            {% endfor %}
        </section>
    </main>
{% endblock %}
{% block left_side %}
    {% if profile_user == request.user %}
        <section hx-get="{% url 'incoming_friend_requests' profile_user.username %}" hx-trigger="load, every 15s"
                 hx-target="#incoming-friend-requests">
            <div id="incoming-friend-requests">
                {% include 'partials/incoming_friend_requests.html' %}
            </div>
        </section>
    {% endif %}
    <section id="friends" hx-get="{% url 'friend_list' profile_user.username %}" hx-trigger="load, every 15s"
             hx-target="#friends-list">
        <h2 class="font-medium">Friends</h2>
        <div id="friends-list"></div>
    </section>
{% endblock %}
{% block right_side %}
    <div class="flex flex-col gap-2 w-full">
        <section class="flex flex-col gap-1 justify-center" id="profile">
            <h2 class="font-medium">{{ profile_user.username }}'s Profile</h2>
            <p><span class="font-medium">Joined</span>: {{ profile_user.date_joined }}</p>
            <p><span class="font-medium">Email</span>: {{ profile_user.email }}</p>
            {% if profile_user.userprofile.location %}
                <p><span class="font-medium">Location</span>: {{ profile_user.userprofile.location }}</p> {% endif %}
            {% if profile_user.userprofile.birthdate %}
                <p><span class="font-medium">Birthdate</span>: {{ profile_user.userprofile.birthdate }}</p>{% endif %}
            {% if profile_user.userprofile.website %}<a href="{{ profile_user.userprofile.website }}"><span
                    class="font-medium">Website</span>: {{ profile_user.userprofile.website }}</a>{% endif %}
            {% if profile_user.userprofile.github %}<a href="{{ profile_user.userprofile.github }}"><span
                    class="font-medium">GitHub</span>: {{ profile_user.userprofile.github }}</a>{% endif %}
        </section>
    </div>
{% endblock %}