{% load socialaccount %}
{% load account %}
<nav class="w-full bg-indigo-500 text-white">
    <ul class="w-full inline-flex items-center gap-5 p-4">
        <li><a href="{% url 'index' %}">Home</a></li>
        <span class="flex-1"></span>
        {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            <li><a href="{% url 'account_login' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>